<% include ../partials/header %>

<div style="width: 50%; margin: 25px auto;">
   <div class="card mb-3">
       <div class="card-header">
           <h2 class="text-center">Edit Comment</h2>
       </div>
      <div class="card-body">
        <form action="/campgrounds/<%=campground_id%>/comments/<%=comment._id%>?_method=PUT" method="POST">
           <div class="form-row">
               <div class="form-group col-md-12">
                   <label>Comment</label>
                   <input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">
               </div>
           </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <button class="btn btn-camp btn-lg btn-block">Sumbit!</button>
                </div>
            </div>
        </form>
        <a href="/campgrounds/<%= campground_id %>" class="text-muted"><i class="fa fa-chevron-left" aria-hidden="true"></i> Go Back</a>
      </div>
    </div>
</div>


<% include ../partials/footer %>