<% include ./partials/header %>

<div style="width: 70%; margin: 25px auto;">
   <div class="card mb-3">
       <div class="card-header">
           <h1 class="text-center">Sign Up</h1>
       </div>
      <div class="card-body">
        <form action="/register" method="POST">
           <div class="form-row">
               <div class="form-group col-md-6">
                   <label>First Name</label>
                    <input class="form-control" type="text" name="firstName" placeholder="first name">
               </div>
               <div class="form-group col-md-6">
                    <label>Last Name</label>
                    <input class="form-control" type="text" name="lastName" placeholder="last name">
                </div>
           </div>
           <div class="form-row">
               <div class="form-group col-md-12">
                   <label>Email Address</label>
                    <input class="form-control" type="email" name="email" placeholder="email address">
               </div>
           </div>
           <div class="form-row">
               <div class="form-group col-md-6">
                   <label>Username</label>
                    <input class="form-control" type="text" name="username" placeholder="username">
                </div>
               <div class="form-group col-md-6">
                   <label>Password</label>
                   <input class="form-control" type="password" name="password" placeholder="password">
                </div>
           </div>
           <div class="form-row">
               <div class="form-group col-md-12">
                   <label>Avatar</label>
                   <input class="form-control" type="text" name="avatar" placeholder="avatar image url">
                </div>
           </div>
           <div class="form-row">
               <div class="form-group col-md-12">
                   <label>Admin Code</label>
                   <input class="form-control" type="text" name="admincode" placeholder="admin code">
                </div>
           </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <button class="btn btn-camp btn-lg btn-block">Sign Up</button>
                </div>
            </div>
        </form>
      </div>
    </div>
</div>
<% include ./partials/footer %>
